<div class="row mt-5">
  <div class="col-12 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">
    <div class="card">
      <div class="card-body">
        {{#if project}}
        <div class="my-4 text-center">
          <h2>View any of your Toolkit Mods:</h2>

          <ul class="text-left mt-5" style="list-style-type: circle;">
            <li class="my-2"><a href="/signup">Signup Form</a></li>
            <li class="my-2"><a href="/login">Login Form</a></li>
            <li class="my-2"><a href="/logout">Logout Button</a></li>
            <li class="my-2"><a href="/reset">Password Reset Form</a></li>
            <li class="my-2"><a href="/profile">Profile Mod</a></li>
          </ul>
        </div>
        {{else}}
        <div class="my-4 text-center">
          <h2>Enter your project ID</h2>
        </div>

        <form method="post" action="/project" id="project-form" name="project-form" class="py-2 project-form">
          <div class="form-group mb-1">
            <input type="text" class="form-control" id="project" name="project" placeholder="Project ID" />
          </div>

          <div class="mt-2">
            <button class="btn btn-block btn-primary mb-2" type="submit">
              SUBMIT
            </button>
          </div>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>