<div class="row">
  <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <div class="content">
      <p>
        Use the Login Form on the Toolkit screen to let your users log into your app. Users will be redirected to the
        "Login URL"
        specified on the Settings screen.
      </p>
    </div>

    <div style="max-width: 400px; margin: 80px auto 0;">
      <div id="userfront-orkkod"></div>
    </div>
  </div>
</div>