<div class="row">
  <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <div class="content">
      <p>
        You can determine if a user is logged in by accessing the `auth.xxxxxxxx` cookie. If it is present, the user
        is logged in and the Log Out button will be visible.
        <br />
        <br />
        Clicking the Log Out button will do the following:
        <ol>
          <li>Log the user out</li>
          <li>Remove the `auth.xxxxxxxx` cookie</li>
          <li>Redirect the user to the "Logout URL" specified on the Settings screen.</li>
        </ol>
      </p>
    </div>

    <div style="max-width: 400px; margin: 80px auto 0;">
      <div id="userfront-bakddr"></div>
    </div>
  </div>
</div>