<div class="row">
  <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <div class="content">
      <p>
        Use the Password Reset Form on the Toolkit screen to allow your users to reset their password in case they
        forget it. They will be sent a link to their email. The link sent will be the "Password reset URL" specified on
        the Settings screen.
        <br />
        <br />
        You can display this same Password Reset Form on the page the user lands on and it will display
        two password inputs, rather than a single email input, allowing them to set their new password.
      </p>
    </div>

    <div style="max-width: 400px; margin: 80px auto 0;">
      <div id="userfront-radarr"></div>
    </div>
  </div>
</div>