<div class="row">
  <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <div class="content">
      <p>
        You can show a user their profile information using the Profile Mod. They'll be able to edit their information
        using the mod.
      </p>
    </div>

    <div style="max-width: 400px; margin: 80px auto 0;">
      <div id="userfront-alnabk"></div>
    </div>
  </div>
</div>