html, body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, span, i, a, button, input, .card-body {
  font-family: "Open Sans", sans-serif;
}

[radokd] .am-header .am-logo {
  margin-left: -60px;
}

[bakddr] .af-text-muted {
  color: white !important;
}

body {
  background-image: url('https://res.cloudinary.com/component/image/upload/c_scale,o_7,w_1200/v1586478091/permanent/soon.png');
  background-size: cover;
  background-position: center;
}

.header {
  color: white;
  cursor: default;
  height: 90px;
  line-height: 4.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
}

.brand a {
  text-decoration: none;
  display: inline-block;
}

.brand img {
  width: 40px;
  height: auto;
}

@media (max-width: 980px) {
  .brand-text {
    font-size: 30px;
  }
}

.content {
  color: white;
  background: rgba(50, 50, 50, 0.7);
  border-radius: 6px;
  padding: 2rem;
  max-width: 600px;
}

.project-form .btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  display: inline-block;
  padding: 10px 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  color: #525f7f;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
}

.project-form .btn:hover {
  text-decoration: none;
  color: #525f7f;
}

.project-form .btn:focus, .project-form .btn.focus {
  outline: 0;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.project-form .btn-primary {
  color: #fff;
  border-color: #5e72e4;
  background-color: #5e72e4;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.project-form .btn-primary:hover {
  color: #fff;
  border-color: #5e72e4;
  background-color: #5e72e4;
}

.project-form .btn-primary:focus, .project-form .btn-primary.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(94, 114, 228, 0.5);
}

.github {
  position: absolute;
  top: 0;
  right: 0;
}

.github img {
  width: 70px;
  height: auto;
}